.pg_pg1 {
    height: calc(100vh - 80px);
}
.pg_pg2 {
    height: calc(100vh - 70px);

    padding-top: 70px;
    text-align: center;
}

.pg_box {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-top: -10vw;
    margin-left: -42vw;

    z-index: 0;
}

.pg_box > li {
    list-style: none;
}

.pg_logo {
    width: min(25vw, 400px);

    animation-name: fadein_atype;
    animation-duration: 1s;
}

.pg_info {
    padding-top: 2.5vw;
}

.pg_info > li {
    list-style: none;
    padding-inline-start: 0;
}

.pg_title {
    font-size: min(6.5vw, 75px);
    font-weight: 600;

    animation-name: fadein_btype;
    animation-duration: 1s;
}

.pg_desc {
    font-size: min(3.25vw, 37.5px);

    animation-name: fadein_btype;
    animation-duration: 1s;
}

.pg_invite {
    margin-top: 2.3vw;

    animation-name: fadein_atype;
    animation-duration: 1s;
}

.pg_invbutton {
    background-color: #1e6dee;
    color: white;
    border-radius: 8px;

    font-size: min(3vw, 34.8px);
    text-decoration: none;

    padding: 1vw 2vw 1vw 2vw;
}

.pg_bar {
    background-color: #1e6dee;
    height: 15px;
    width: 40vw;

    margin-top: 15px;
    border-radius: 1000px;
}

.pg_elements {
    width: 60%;
    height: 80%;
    overflow: hidden;

    position: absolute;
    left: 50%; margin-left: -30%;

    margin-top: 60px;
}

.pg_element {
   box-sizing: border-box;
   padding: 10px;
   float: left;
   width: 50%;
   height: 50%;

   text-align: left;
}

.pg_element > img {
    width: min(100%, 450px);
}

.pg_element > h2 {
    color: gray;
    font-size: 27px;;
}